<div class="questions-page">
  <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>

  <div class="content-container">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </div>
</div>

<ng-container *ngTemplateOutlet="modalTemplate"></ng-container>

<ng-template #headerTemplate>
  <header class="header-container">
    <div class="title-container">
      <h1>Pytania</h1>
    </div>

    <div class="search-container">
      <div class="search-wrapper">
        <i class="pi pi-search search-icon"></i>
        <input
          type="text"
          (input)="onSearch($event)"
          placeholder="Wyszukaj pytanie..."
          class="search-input"
        />
      </div>
    </div>
  </header>
</ng-template>

<ng-template #contentTemplate>
  <ng-container *ngTemplateOutlet="addButtonTemplate"></ng-container>

  <ng-container *ngIf="loading; else loadedContent">
    <div class="spinner-container">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-container>

  <ng-template #loadedContent>
    <ng-container *ngTemplateOutlet="tableTemplate"></ng-container>
    <ng-container *ngTemplateOutlet="paginatorTemplate"></ng-container>
  </ng-template>
</ng-template>

<ng-template #addButtonTemplate>
  <div class="button-section" *ngIf="isLoggedIn && !loading">
    <button class="add-button" (click)="addQuestion()">
      <i class="pi pi-plus"></i>
    </button>
  </div>
</ng-template>

<ng-template #tableTemplate>
  <div class="table-container">
    <table class="questions-table">
      <thead>
      <tr></tr>
      </thead>
      <tbody>
      <tr *ngFor="let question of questions">
        <td>
          <div class="question-info">
            <span class="question-title">{{ question.title }}</span>
            <span class="question-date">
                Dodano: {{ question.createdAt | date:'dd/MM/yyyy' }}
              </span>
          </div>
        </td>
        <td>
          <div>
            <span class="question-tag">{{ question.tag }}</span>
          </div>
        </td>
        <td>
          <div class="action-buttons">
            <button
              class="action-button"
              (click)="showDetails(question.questionId)"
              title="Zobacz szczegóły"
            >
              <i class="pi pi-eye"></i>
            </button>
            <button
              *ngIf="isAdmin"
              class="delete-btn"
              (click)="deleteQuestion(question.questionId)"
              title="Usuń pytanie"
            >
              <i class="pi pi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #paginatorTemplate>
  <p-paginator
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    [first]="(currentPage - 1) * pageSize"
    [rowsPerPageOptions]="pageSizeOptions"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Pokazano {first} do {last} z {totalRecords} pytań"
    (onPageChange)="onPageChange($event)"
  ></p-paginator>
</ng-template>

<ng-template #modalTemplate>
  <div class="modal" *ngIf="displayDialog">
    <div class="modal-content">
      <div class="modal-actions">
        <button class="close-button" (click)="displayDialog = false">
          <i class="pi pi-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <app-question-details [questionId]="questionId"></app-question-details>
      </div>
    </div>
  </div>
</ng-template>
