<div class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a class="brand-link">
        <img ngSrc="assets/askify-logo.webp" alt="Askify Logo" class="brand-logo" height="1024" width="1024">
        <span class="brand-text">Askify</span>
      </a>
    </div>

    <div class="nav-links">
      <p-button
        *ngFor="let item of menuItems"
        [label]="item.label"
        [icon]="item.icon"
        [routerLink]="item.routerLink"
        styleClass="p-button-text nav-link"
       >
      </p-button>
    </div>

    <div class="user-menu">
      <button class="user-menu-trigger" (click)="menu.toggle($event)">
        <i class="pi pi-user"></i>
      </button>
      <p-menu #menu [popup]="true" [appendTo]="'body'" [model]="userMenuItems"></p-menu>
    </div>
  </div>
</div>
