<div class="auth-container">
  <div class="auth-side">
    <p-card>
      <h2>Przypomnij hasło</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid">
          <div class="field">
            <label for="email">Email</label>
            <input
              id="email"
              type="text"
              pInputText
              formControlName="email"
              [ngClass]="{'ng-invalid ng-dirty': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched}"
            >
            <small class="p-error"
                   *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
              Wprowadź poprawny adres email
            </small>
          </div>
          <div class="field">
            <p-button
              label="Wyślij link"
              type="submit"
              [disabled]="forgotPasswordForm.invalid"
            ></p-button>
          </div>
        </div>
      </form>
    </p-card>
  </div>
  <div class="image-side">
    <img src="/assets/askify-logo.webp" alt="Login illustration" class="auth-image">
  </div>
</div>
