<div class="account-container">
  <p-card styleClass="account-card">
    <div class="profile-section">
      <div class="profile-info">
        <div class="profile-picture">
          <i class="pi pi-user"></i>
        </div>
        <div class="basic-info">
          <h1>{{ userAccount.userName }}</h1>
        </div>
      </div>
    </div>

    <p-skeleton *ngIf="loading" width="100%" height="150px"></p-skeleton>

    <div *ngIf="!loading" class="details-grid">
      <div class="info-card">
        <div class="info-header">
          <i class="pi pi-at"></i>
          <span>Email</span>
        </div>
        <div class="info-content">
          {{ userAccount.email }}
        </div>
      </div>

      <div class="info-card">
        <div class="info-header">
          <i class="pi pi-user"></i>
          <span>Nazwa użytkownika</span>
        </div>
        <div class="info-content">
          {{ userAccount.userName }}
        </div>
      </div>

      <div class="info-card">
        <div class="info-header">
          <i class="pi pi-clock"></i>
          <span>Data utworzenia konta</span>
        </div>
        <div class="info-content">
          {{ formatDate(userAccount.createdAt) }}
        </div>
      </div>

      <div class="info-card">
        <div class="info-header">
          <i class="pi pi-shield"></i>
          <span>Rola</span>
        </div>
        <div class="info-content status-active">
          {{ userAccount.role }}
        </div>
      </div>
    </div>

    <div class="delete-section">
      <div class="delete-content">
        <div class="warning-icon">
          <i class="pi pi-exclamation-triangle"></i>
        </div>
        <div class="warning-text">
          <h3>Usuwanie konta</h3>
          <p>Ta operacja spowoduje trwałe usunięcie Twojego konta wraz ze wszystkimi danymi. Tej czynności nie można
            cofnąć. Upewnij się, że chcesz kontynuować.</p>
        </div>
      </div>
      <div class="delete-actions">
        <p-button
          label="Usuń konto"
          icon="pi pi-trash"
          severity="danger"
          variant="outlined"
          (onClick)="confirmDelete()">
        </p-button>
      </div>
    </div>

  </p-card>

  <p-confirmDialog
    header="Potwierdzenie usunięcia konta"
    icon="pi pi-exclamation-triangle"
    [style]="{width: '50vw'}"
    [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
  ></p-confirmDialog>

  <p-toast></p-toast>
</div>
